@media screen and (max-width: 768px) {
    #main-box {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }
    #title-tab {
        flex: 1;
        background-color: #e3ea9c;
        text-align: center;
        color: #1e9488;
        width: 100%;
        max-width: 100%;
        font-size: 30px;
    }
    #title-tab2 {
        flex: 1;
        background-color: #e3ea9c;
        text-align: center;
        color: #1e9488;
        width: 100%;
        max-width: 100%;
        font-size: 30px;
        font-family: cookie;
    }
    #navbar {
        flex: 0 0 auto;
        background-image: linear-gradient(to bottom, #27bcad, #1e9488, #166a61, #0d3f3a);
        padding: 2px;
        color: #e3ea9c;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    #main-section {
        flex: 0 0 auto;
        background-color: #a6a6a6;
        width: 100%;
        max-width: 100%;
        text-align: center;
        color: white;
        font-family: lucida sans typwriter;
        font-size: 20px;
        padding: 2px;
    }
    #photo-banner {
        flex: 0 0 auto;
        background-image: url(../img/hammock1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 16%;
        width: 100%;
        max-width: 100%;
        color: #e3ea9c;
        text-align: center;
    }
    #photo-banner-bio {
        flex: 0 0 auto;
        background-image: url(../img/bench.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 16%;
        width: 100%;
        max-width: 100%;
        color: #e3ea9c;
        text-align: center;
    }
    #photo-banner-about {
        flex: 0 0 auto;
        background-image: url(../img/fall.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 16%;
        width: 100%;
        max-width: 100%;
        color: #e3ea9c;
        text-align: center;
    }
    #photo-banner-contact {
        flex: 0 0 auto;
        background-image: url(../img/lake_fog.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 16%;
        width: 100%;
        max-width: 100%;
        color: #e3ea9c;
        text-align: center;
    }
    #photo-banner-gallery {
        flex: 0 0 auto;
        background-image: url(../img/pier.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 16%;
        width: 100%;
        max-width: 100%;
        color: #e3ea9c;
        text-align: center;
    }
    #bottom-nav {
        flex: 0 0 auto;
        background-image: linear-gradient(to bottom, #27bcad, #1e9488, #166a61, #0d3f3a);
        padding: 20px;
        text-align: left;
        color: #e3ea9c;
        width: 100%;
        max-width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .nav-links {
        flex: 1;
        color: #e3ea9c;
        text-align: center;
        padding: 0%;
        font-family: lucida sans typewriter;
        font-size: 20px;
    }
    .img-format {
        border-style: solid;
        border-width: 2px;
        border-color: #1e9488;
        border-radius: 50%;
    }
    a:link {
        color: #e3ea9c;
    }
    a:visited {
        color: #e3ea9c;
    }
}
@media screen and (min-width: 768px) {
#flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#title-tab {
    flex: 1;
    background-image: linear-gradient(to bottom, #27bcad, #1e9488, #166a61, #0d3f3a);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #e3ea9c;
    margin-left: 1%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    font-size: 30px; 
}
#title-tab2 {
    flex: 1;
    background-color: #e3ea9c;
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: center;
    color: #1e9488;
    margin-right: auto;
    margin-bottom: 1px;
    margin-top: auto;
    max-width: 39%;
    font-size: 30px;
    font-family: cookie;
}
#navbar {
    flex: 0 0 auto;
    background-image: linear-gradient(to bottom, #27bcad, #1e9488, #166a61, #0d3f3a);
    text-align: center;
    color: #e3ea9c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#main-section {
    flex: 0 0 auto;
    background-color: #a6a6a6;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
    font-family: lucida sans typwriter;
    font-size: 20px;
    padding: 2px;
}
#photo-banner {
    flex: 0 0 auto;
    background-image: url(../img/hammock1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 16%;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
#photo-banner-bio {
    flex: 0 0 auto;
    background-image: url(../img/bench.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 16%;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
#photo-banner-about {
    flex: 0 0 auto;
    background-image: url(../img/fall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 16%;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
#photo-banner-contact {
    flex: 0 0 auto;
    background-image: url(../img/lake_fog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 16%;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
#photo-banner-gallery {
    flex: 0 0 auto;
    background-image: url(../img/pier.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 16%;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
#bottom-nav {
    flex: 0 0 auto;
    background-image: linear-gradient(to bottom, #27bcad, #1e9488, #166a61, #0d3f3a);
    padding: 10px;
    text-align: left;
    color: #e3ea9c;
    width: 100%;
    max-width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
    text-align: center;
}
#main-box {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.body {
    margin: 0px 0px 0px 0px;
}
.nav-links {
    flex: 1;
    color: #e3ea9c;
    text-align: center;
    padding: 0%;
    font-family: lucida sans typewriter;
    font-size: 25px;
}
#main-name {
    flex: 2;
}
.main-contact {
    flex: 1;
}
.img-format {
    border-style: solid;
    border-width: 2px;
    border-color: #1e9488;
    border-radius: 50%;
}
a:link {
    color: #e3ea9c;
}
a:visited {
    color: #e3ea9c;
}
}