@media screen and (max-width: 768px) {
    #main-box {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #title-tab {
        flex: 0 0 auto;
        background-color: #fafaeb;
        text-align: center;
        color: #233b43;
        width: 100%;
        max-width: 100%;
        font-size: 22px;
    }
    #navbar {
        flex: 0 0 auto;
        background-image: linear-gradient(to bottom, #5793a8, #457587, #345865, #233b43);
        padding: 20px;
        text-align: left;
        color: white;
        width: 100%;
        max-width: 100%;
        margin-top: -3%;
    }
    #main-section {
        flex: 0 0 auto;
        background-color: #a6a6a6;
        padding: 120px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        color: white;
    }
    #photo-banner {
        flex: 0 0 auto;
        background-image: url(../img/hammock.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        padding: 16%;
        width: 100%;
        max-width: 100%;
        color: white;
        text-align: center;
    }
    #bottom-nav {
        flex: 0 0 auto;
        background-image: linear-gradient(to bottom, #5793a8, #457587, #345865, #233b43);
        padding: 20px;
        text-align: left;
        color: white;
        width: 100%;
        max-width: 100%;
    }
}
@media screen and (min-width: 768px) {
#flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#title-tab {
    flex: 0 0 auto;
    background-image: linear-gradient(to bottom, #5793a8, #457587, #345865, #233b43);
    padding-top: 5px;
    padding-bottom: 1px;
    text-align: center;
    color: white;
    margin-left: 1%;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 16%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;   
}
#navbar {
    flex: 0 0 auto;
    background-image: linear-gradient(to bottom, #5793a8, #457587, #345865, #233b43);
    padding: 20px;
    text-align: left;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#main-section {
    flex: 0 0 auto;
    background-color: #a6a6a6;
    padding: 120px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: white;
}
#photo-banner {
    flex: 0 0 auto;
    background-image: url(../img/hammock.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 16%;
    width: 100%;
    max-width: 100%;
    color: white;
    text-align: center;
}
#bottom-nav {
    flex: 0 0 auto;
    background-image: linear-gradient(to bottom, #5793a8, #457587, #345865, #233b43);
    padding: 20px;
    text-align: left;
    color: white;
    width: 100%;
    max-width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#main-box {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.body {
    margin: 0px 0px 0px 0px;
}
}